* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popins, sans-serif;
}

body {
  background-image: url(https://cdn3.f-cdn.com/contestentries/2046262/39619568/61ee6af3a3d60_thumb900.jpg);
  /* background-image: linear-gradient(
    rgba(0, 128, 128, 1),
    rgba(70, 130, 180, 1)
  ); */
  min-height: 150vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 450px;
  max-width: 450px;
  min-height: 450px;
  background-color: rgb(28, 183, 194);
  border-radius: 20px;
  box-shadow: 1px, 1px, 50px black;
  padding: 40px, 30px;
}

.container .login-text {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: blok;
  text-transform: capitalize;
}

.container p {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  text-shadow: #000;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid rgb(6, 94, 79);
  /* background: transparent; */
  padding: 15px 20px;
  font-size: 1rem;
  outline: none;
  transition: 1s;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group:valid {
  border: #3e36ad;
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background-color: rgb(15, 10, 54);
  outline: none;
  border-radius: 30px;
  font-size: 1.3rem;
  color: #ffffff;
  cursor: pointer;
  transition: 3s;
}

.container .login-email .btn:hover {
  transform: translate(-5px);
  background: #6e5ce7;
}

.login-register-text {
  color: #111;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: 6e5ce7;
}

@media (min-width: 20px) {
  .container {
    width: 330px;
  }
  input {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    /* background: transparent; */
    transition: 3s;
  }
  .container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    /* background: #a29bfe; */
    background: crimson;
    outline: none;
    border-radius: 30px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: 1.5s;
  }

  .container .login-email .input-group .btn:hover {
    transform: translate(-5px);
    background: blue;
  }
}
